@charset "utf-8";
@import url("fonts.css");

body
{
    font-family:Arial,sans-serif ;
    font-size:12px;
    background-color: #DCE3E7;
}
figure{
    position: relative;
}
.input-prepend input{
    border-left:0px;
}
.popover.left .arrow:after{
    right:2px;
}
.bootstrap-tagsinput .tag {
    border-radius:1px;
}
.panelBnt input{
    padding:4px 10px;
    margin: 0px 10px 0px 0px;
}
.popover{
    box-shadow: none;
}
/* input,button,textarea{
    font-family: 'Myriad Pro';
} */

h1,h2,h3,h4,h5{
    /* font-family: 'Myriad Pro'; */
}
label{
    color:#5A5A5A;
}
/* BEGIN overriden boostrap */
.label-info, .badge-info {
    background-color: #009BB2;
}
/* END overriden boostrap */

.badge{
    border-radius: 0px;
    margin:0px 6px; 
}
/* overriden bootstrap */
.btn {
    border-radius: 0;
    padding: 1px 9px 2px 9px;
    font-size: 1em;
}
.loader_img{
    width: 100%;
    height:100%;
    position: absolute;
    background: url(../images/loader.gif) no-repeat center; 
    background-color: #262626;
    top:0px;
}
a{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], 
input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"],
input[type="checkbox"]{
    font-size: 12px;
    background: #fff;
    border: 1px solid #EDEDED;
    border-radius: 0;
    box-shadow: none;
    padding: 8px 5px;
    vertical-align: middle;
    height: auto;
    margin: 0px 10px 0px 0px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
textarea{
    font-size: 12px;
    border-radius: 0px;
     border: 1px solid #EDEDED;
}
h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.25em;
}
h3{
    font-size: 1em;
}
h4{
    font-size: 0.875em;
}
h5{
    font-size: 0.875em;
    color:#525252;
}
span{
    color:#919191;
    font-size: 1em;
}
p{
    color: #525252;
}
/* popover setting */
.options{
    padding:0px;
}
.options li{
    cursor: pointer;
    padding:2px 14px;
    border-bottom:1px solid #efefef;
    color: #000000;
}
.options li:nth-child(even){
    background-color: #fdfdfd;
}
.options li:last-child{
    border: none;
}
.options li:hover{
    background: #00B9CF;
    color:#fff;
} 
.options .fa{
    margin-right:3px;
}
/* end popover setting */
.clearfix
{
    clear: both;
}
*
{
    margin: 0px;
    padding:0px;
}
ul,li
{
    margin: 0px;
    padding:0px;
    list-style: none;
}
.fullWidth{
    width:100%;
}
#wrapper 
{
    background-color:  #FFFFFF;
    margin: 0 auto;
    width: 100%;
}
#content{
    min-height: 700px;
    background: rgba(0,0,0,0.70);
    border: 1px solid #222;
    color:#C3C3C3;
    padding: 20px;
}
#myTopMenu{

}
#myTopMenu .navbar-inner{
    border-radius: 0px;
    background-image: none;
}
#myTopMenu .brand {
    color: #999999;
    font-size: 15px;
    font-weight: bold;
}
.tabs-left > .nav-tabs > li> a, .tabs-right > .nav-tabs > li > a{
    border-radius: 0px;
}
body{
    background:#000 url('../images/background.png') repeat;
}